.home {
    background-color: rgb(54, 100, 228);
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);

  }

  .home__title,
  .home__description {
    color: white;
  }

  .home__contact {
    color: white;
    font-size: 18px;
    font-weight: 700px;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 4px;

  }